Data_Science/Data_Management/SQL_Oracle_XML_XSD_WSDL/webservices/EDXVaultService.wsdl

<?xml version="1.0" encoding="utf-8"?>

<definitions xmlns:s="http://www.w3.org/2001/XMLSchema" 
   xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
   xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
   xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
   xmlns:tns="http://localhost:7001/EDXServices" 
   xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
   targetNamespace="http://localhost:7001/EDXServices"
   xmlns="http://schemas.xmlsoap.org/wsdl/">

   
   
           
  <message name="transfer" >
    
  <part name="string" xmlns:partns="http://www.w3.org/2001/XMLSchema" type="partns:string" />
  
 
  </message>
  <message name="transferResponse" >
    
  <part name="result" xmlns:partns="http://www.w3.org/2001/XMLSchema" type="partns:string" />
  
 
  </message>
  
  
  
  

   
           
  <message name="deposit" >
    
  <part name="string" xmlns:partns="http://www.w3.org/2001/XMLSchema" type="partns:string" />
  
 
  </message>
  <message name="depositResponse" >
    
  <part name="result" xmlns:partns="http://www.w3.org/2001/XMLSchema" type="partns:string" />
  
 
  </message>
  
  
  
  

   
           
  <message name="retire" >
    
  <part name="string" xmlns:partns="http://www.w3.org/2001/XMLSchema" type="partns:string" />
  
 
  </message>
  <message name="retireResponse" >
    
  <part name="result" xmlns:partns="http://www.w3.org/2001/XMLSchema" type="partns:string" />
  
 
  </message>
  
  
  
  

   
           
  <message name="list" >
    
  <part name="string" xmlns:partns="http://www.w3.org/2001/XMLSchema" type="partns:string" />
  
 
  </message>
  <message name="listResponse" >
    
  <part name="result" xmlns:partns="http://www.w3.org/2001/XMLSchema" type="partns:string" />
  
 
  </message>
  
  
  
  

   
           
  <message name="export" >
    
  <part name="string" xmlns:partns="http://www.w3.org/2001/XMLSchema" type="partns:string" />
  
 
  </message>
  <message name="exportResponse" >
    
  <part name="result" xmlns:partns="http://www.w3.org/2001/XMLSchema" type="partns:string" />
  
 
  </message>
  
  
  
  

   
           
  <message name="getStatus" >
    
  <part name="string" xmlns:partns="http://www.w3.org/2001/XMLSchema" type="partns:string" />
  
 
  </message>
  <message name="getStatusResponse" >
    
  <part name="result" xmlns:partns="http://www.w3.org/2001/XMLSchema" type="partns:string" />
  
 
  </message>
  
  
  
  

   
   
   
           <portType name="EDXVaultServicePort" >
    
  <operation name="transfer"  >
    <input message="tns:transfer" />
    
    <output message="tns:transferResponse" />
     
    
  </operation>
 
  <operation name="deposit"  >
    <input message="tns:deposit" />
    
    <output message="tns:depositResponse" />
     
    
  </operation>
 
  <operation name="retire"  >
    <input message="tns:retire" />
    
    <output message="tns:retireResponse" />
     
    
  </operation>
 
  <operation name="list"  >
    <input message="tns:list" />
    
    <output message="tns:listResponse" />
     
    
  </operation>
 
  <operation name="export"  >
    <input message="tns:export" />
    
    <output message="tns:exportResponse" />
     
    
  </operation>
 
  <operation name="getStatus"  >
    <input message="tns:getStatus" />
    
    <output message="tns:getStatusResponse" />
     
    
  </operation>
 
  </portType>

   
   
           <binding name="EDXVaultServicePortSoapBinding"
           type="tns:EDXVaultServicePort" >

    <soap:binding style="rpc" 
           transport="http://schemas.xmlsoap.org/soap/http" />
    
  <operation name="transfer" >
    <soap:operation 
    soapAction="" 
    style="rpc" />

    <input>
      
            
      <soap:body use="encoded" namespace="http://localhost:7001/EDXServices"
          encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      
      
 
      
    </input>
    
    <output>
      
            
      <soap:body use="encoded" namespace="http://localhost:7001/EDXServices"
          encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      
      
 
      
    </output>
    
    
  </operation>
 
    
  <operation name="deposit" >
    <soap:operation 
    soapAction="" 
    style="rpc" />

    <input>
      
            
      <soap:body use="encoded" namespace="http://localhost:7001/EDXServices"
          encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      
      
 
      
    </input>
    
    <output>
      
            
      <soap:body use="encoded" namespace="http://localhost:7001/EDXServices"
          encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      
      
 
      
    </output>
    
    
  </operation>
 
    
  <operation name="retire" >
    <soap:operation 
    soapAction="" 
    style="rpc" />

    <input>
      
            
      <soap:body use="encoded" namespace="http://localhost:7001/EDXServices"
          encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      
      
 
      
    </input>
    
    <output>
      
            
      <soap:body use="encoded" namespace="http://localhost:7001/EDXServices"
          encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      
      
 
      
    </output>
    
    
  </operation>
 
    
  <operation name="list" >
    <soap:operation 
    soapAction="" 
    style="rpc" />

    <input>
      
            
      <soap:body use="encoded" namespace="http://localhost:7001/EDXServices"
          encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      
      
 
      
    </input>
    
    <output>
      
            
      <soap:body use="encoded" namespace="http://localhost:7001/EDXServices"
          encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      
      
 
      
    </output>
    
    
  </operation>
 
    
  <operation name="export" >
    <soap:operation 
    soapAction="" 
    style="rpc" />

    <input>
      
            
      <soap:body use="encoded" namespace="http://localhost:7001/EDXServices"
          encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      
      
 
      
    </input>
    
    <output>
      
            
      <soap:body use="encoded" namespace="http://localhost:7001/EDXServices"
          encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      
      
 
      
    </output>
    
    
  </operation>
 
    
  <operation name="getStatus" >
    <soap:operation 
    soapAction="" 
    style="rpc" />

    <input>
      
            
      <soap:body use="encoded" namespace="http://localhost:7001/EDXServices"
          encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      
      
 
      
    </input>
    
    <output>
      
            
      <soap:body use="encoded" namespace="http://localhost:7001/EDXServices"
          encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      
      
 
      
    </output>
    
    
  </operation>
 
    
  </binding>

   
     <service name="EDXVaultService" >
    
    <port name="EDXVaultServicePort" 
      binding="tns:EDXVaultServicePortSoapBinding">
     <soap:address location="http://localhost:7001/EDXServices/EDXVaultService?WSDL"/>
    </port>
    
  </service>

</definitions>
